@page
@model PhoneCalls_5.Pages.Cities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.code)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.City.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
